doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/lib/dragdrop.min.js")
    script(src="/javascripts/upload.js")
    script.
      console.log('Initiating upload page');

  body(onload="prepareDragAndDrop()")
    block content
