extends layout

block content
  h1= title
  
  div#dropHere Drop file here

  div(id="choiceInput")    
    each val in [0, 1, 2, 3, 4]
      div
        input(type="checkbox", name="use" + val, class="patternCheck")
        input(type="text", name="name" + val, class="patternName")
        input(type="text", name="pattern" + val, class="pattern")


  div#result
    
  